.outer {
    text-align: center;
    text-decoration: black;
    font: italic 1.2em "Fira Sans", serif;
    width: 100%;
    display: grid;
    grid-template-columns: [col1] 15% [col2] 70% [col3] 15% [col-last];
    grid-template-rows: [row1] 22% [row2] 8% [row3] 40% [row4] 8% [row5] 22% [row-end];
}
#box-one {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 3px solid black;
}
#box-two {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 3px solid black;
}
#box-three {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    border: 3px solid black;
}
#box-four {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    border: 3px solid black;
}
#box-five {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    border: 3px solid black;
}
#box-six_top {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 3px solid black;
}
#box-six_bottom {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    border: 3px solid black;
}

.letter-text-box {
    width: 25%;
    height: auto;
    border: 3px solid black;
    background-color: white;
    text-align: center;
    font: bold 1.2em "Courier New", monospace;
    margin-left: 70%;
    position: relative;
    top: -60%;
}

.extra-text {
    display: table-cell;
    vertical-align: middle; 
    text-align: left;
}

.box-text {
    margin: 5pt 5pt;
}

.extra-box-text {
    display: table;
    vertical-align: middle; 
    text-align: left;
    margin-left: 0.5em;
    width: 60%;
    min-height: 95%;
    max-height: 95%;
}

.blue {
    background-color: skyblue;
}
.green {
    background-color: paleturquoise;
}
.orange {
    background-color: orange;
}

.img-monke {
    height: 10%;
    width: fit-content;
}
.img-map {
    height: 327pt;
    width: 126pt;
}
